ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.create {
  background-color: black;
  border-radius: 10px;
  width: 20%;
  color: white;
  padding: 10px;
  align-items: center;
  margin: 10px;
  font-size: 18px;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  font-size: 20px;
  align-items: center;
  list-style-type: none;
  background-color: #1c1a1a;
  align-self: center;
}

.nav {
  float: top;
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
}

.nav a {
  color: #EDEDE9;
  text-decoration: none;
}

.month {
  padding: 10px 10px;
  margin: 10px;
  width: 95%;
  align-self: center;
  background: black;
  text-align: center;

}

.month ul {
  margin: 0;
  padding: 0;
}

.month ol li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  list-style-type: none;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:15px;
  color: #777;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 4px;
}

.create_menu {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  padding-left: 30px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.btn {
  width: 30%;
  border-radius: 10px;
}

.input {
  border-radius: 10px;
  width: 60%;  
  border-width: 0px;
  padding: 5px;
}

.big_input {
  border-radius: 10px;
  width: 80%;  
  height: 50px;  
  border-width: 0px; 
}

.beegtext {
  font-size: 20px;
}

.smoltext {
  font-size: 12px;
}

.ns {
  background-color: #D45B5B;
  color: white;
  border-radius: 5px;
}


.ip {
  background-color: #ede997;
  color: white;
  border-radius: 5px;
}


.done {
  background-color: #39dd54;
  color: white;
  border-radius: 5px;
}