.navbar .navbar-brand{
  font-family: Amaranth, sans-serif;
  color: #2657C1;
}

.navbar-nav .nav-item{
  font-family: Amaranth, sans-serif;
}
.navbar-nav .nav-item .nav-link{
  color: #1fa8cf;
}
.border .fw-semibold{
  font-family: Bricolage, sans-serif;
}
.mb-3 .form-label{
  font-family: Afacad, sans-serif;
}
