<!DOCTYPE html>
<html lang="en">

<head>
  <title>ChoreRulean Calendar </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/css/calendar.css" rel="stylesheet">
</head>
<body style="background-color: white;">
  <!--CSS navbar-->
  <div class="navbar">
    <div class='nav'>
      <a href='/'> ChoreRulean </a>
    </div>
    <div class="nav">
      <a href='/'> Home </a>
    </div>
    <div class="nav">
      <a href="/profile"> Profile </a>
    </div>
    <div class="nav">
      <a href="/calendar"> Calendar </a>
    </div>
    <div class="nav">
      <a href="/logout"> Log Out </a>
    </div>
  </div>
  <div>

    <div class='month'>
  <ol>
    <li class='prev' id='prev'><div class="triangle-left"></div></li>
    <li id='month'>August</li>
    <li class='next' id='next'><div class="triangle-right"></div></li>
  </ol>
</div>


    <ul class='weekdays'>
      <li> Mon </li>
      <li> Tue </li>
      <li> Wed </li>
      <li> Thu </li>
      <li> Fri </li>
      <li> Sat </li>
      <li> Sun </li>
    </ul>
    <ul class='days' id='days'>
    </ul>
  </div>

  <button id="create">+ Create new task</button>

  <div id="create_menu" class="create_menu">

  </div>

  <script src='../static/js/calendar.js'></script>
  </body>
</html>
