<!DOCTYPE html>
<html lang="en">

	<head>
		<title>ChoreRulean Home </title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
		<style>
		.navbar {
		  display: grid;
		  grid-template-columns: auto auto auto auto auto auto auto;
		  font-size: 20px;
		  align-items: center;
		  list-style-type: none;
		  background-color: #1c1a1a;
		  align-self: center;
		}

		.nav {
		  float: top;
		  overflow: hidden;
		  text-align: center;
		  padding: 14px 16px;
		}

		.nav a {
		  color: #EDEDE9;
		  text-decoration: none;
		}
		</style>
	</head>
	<body style="background-color: white;">
		<!--BT navbar-->
		<div class="navbar">
			<div class='nav'>
				<a href='/'> ChoreRulean </a>
			</div>
			<div class="nav">
				<a href='/'> Home </a>
			</div>
			<div class="nav">
				<a href="/profile"> Profile </a>
			</div>
			<div class="nav">
				<a href="/calendar"> Calendar </a>
			</div>
			<div class="nav">
				<a href="/logout"> Log Out </a>
			</div>
		</div>
		<div>
		<center><h1>Welcome, {{ user }}!</h1></center>
		<!--tasks done-->
		<form action="/home" method="POST">
			<div>
				<h3>Completed tasks:</h3>
					<div id='doneBox' style='border-radius: 10px; background-color: #95fc88; margin: 10px; padding: 10px;'>
					{% for task in tasks_done %}
						<div draggable="true" id='{{task[0]}}'>			
						{{ task[0] }} due {{ task[3] }}
						{% if task[9] == user %} <!--owner of task-->
							<button class="btn btn-sm btn-outline-success" type="submit" name="edit {{ task[1] }}">Edit</button>
						{% else %}
							<button class="btn btn-sm btn-outline-success" type="submit" name="leave {{ task[1] }}">Leave</button>
						{% endif %}
						</div>
						<br>
					{% endfor %}
				</div>
			</div>
			<!--tasks ip-->
			<div>
				<h3>Tasks in progress:</h3>
					<div id='ipBox' style='border-radius: 10px; background-color: #fcec88; margin: 10px; padding: 10px;'>
					{% for task in tasks_ip %}
						<div draggable="true" id='{{task[0]}}'>
							{{ task[0] }} due {{ task[3] }}
							{% if task[9] == user %} <!--owner of task-->
								<button class="btn btn-sm btn-outline-success" type="submit" name="edit {{ task[1] }}">Edit</button>
							{% else %}
								<button class="btn btn-sm btn-outline-success" type="submit" name="leave {{ task[1] }}">Leave</button>
							{% endif %}
						</div>
						<br>
					{% endfor %}
				</div>
			</div>
			<!--tasks ns-->
			<div>
				<h3>Tasks not started:</h3>
					<div id='nsBox' style='border-radius: 10px; background-color: #fc8888; margin: 10px; padding: 10px;'>
					{% for task in tasks_ns %}
						<div draggable="true" id='{{task[0]}}'>
							{{ task[0] }} due {{ task[3] }}
							{% if task[9] == user %} <!--owner of task-->
								<button class="btn btn-sm btn-outline-success" type="submit" name="edit {{ task[1] }}">Edit</button>
							{% else %}
								<button class="btn btn-sm btn-outline-success" type="submit" name="leave {{ task[1] }}">Leave</button>
							{% endif %}
						</div>
						<br>
					{% endfor %}
				</div>
			</div>
			<!--friend tasks-->
			<div>
				<h3>Tasks friends are up to:</h3>
				{% for task in friend_tasks %}
					<div draggable="true" id='{{task[0]}}'>
						{{ task[9] }}: {{ task[0] }} due {{ task[3] }}
						{% if task[7] != "no one" and user not in task[6] %}
							<button class="btn btn-sm btn-outline-success" type="submit" name="join {{ task[1] }}">Join</button>
						{% endif %}
					</div>
					<br>
				{% endfor %}
			</div>
		</form>

		<script src='../static/js/home.js'></script>
  </body>
</html>
