<!DOCTYPE html>
<!--
    Natalie Keiger (PM), Michelle Chen, Maya Berchin
    Task Calendar By cerulean
    SoftDev
    p02 ChoreRulean
    Jan 2026
-->
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

		<title>{{ user }}'s Profile</title>
	</head>

	<body>
		
		<nav class="navbar navbar-expand-lg p-1" style="background-color: #222024 ;">
			<h1 class="navbar-brand text-light p-1 mt-2">ChoreRulean</h1>
			<div class="navbar">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link text-light" href="/">Home </a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/profile">Profile</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link text-light" href="/create">Create</a>
						</li>
					<li class="nav-item active">
							<a class="nav-link text-light" href="/friends">Friends</a>
						</li>
						<li class="nav-item active">
								<a class="nav-link text-light" href="/calendar">Calendar</a>
							</li>
						<li class="nav-item">
							<a class="nav-link text-light" href="/logout">Logout</a>
						</li>
					</ul>
			</div>
		</nav>

		<!--display name-->
		<center>
			<h1>{{ user }}</h1>
			<!--display pfp-->
			 <img src="{{ pfp_dict[pfp] }}" alt="{{ pfp }}" width="200" height="200"> 
			<br>
			<h2>Settings</h2>
		</center>
		<!--change pfp (dropdown)-->
		Change pfp:
		<form action="/profile" method="POST">
					<select id="pfp" name="pfp">
							{% for item in pfp_dict %}
									{% if item == perms %}
											<option value={{ item }} selected>{{ item }}</option>
									{% else %}
											<option value={{ item }}>{{ item }}</option>
									{% endif %}
							{% endfor %}
					</select>
			<input type="submit" name="pfp_form" value="update">
		</form>
		<br>
		<!--change password-->
		Change password:
		<form action="/profile" method="POST">
				<input type="password" placeholder="old password" name="old_pass">
				<br><input type="password" placeholder="new password" name="new_pass">
				<br><input type="submit" name="password_form" value="change password">
		</form>
		<br>
		<!--change invite perms (dropdown)-->
		Change who can invite you to join tasks:
		<form action="/profile" method="POST">
					<select id="invite" name="invite">
							{% for item in invite_options %}
									{% if item == perms %}
											<option value={{ item }} selected>{{ item }}</option>
									{% else %}
											<option value={{ item }}>{{ item }}</option>
									{% endif %}
							{% endfor %}
					</select>
			<input type="submit" name="invite_form" value="update">
		</form>
		<br>
		<center><h2>Friends</h2></center>
		<br>
		<!--display friends-->
		Friends:<br>
		{% for friend in fr_list %}
			{{ friend }} 
		{% endfor %}
		<br>
		<br>
		<!--display pending requests-->
		Pending requests:
		<br>
		{% for user in fr_reqs %}
			<form action="/profile" method="POST">
				{{ user }}
				<input type="submit" name="accept {{ user }}" value="accept">
				<input type="submit" name="decline {{ user }}" value="decline">
			</form>
		{% endfor %}
		<br>
		<!--allow friend request sending-->
		Send friend request:
		<form action="/profile" method="POST">
			<input type="text" name="fr_user" placeholder="username">
			<input type="submit" name="fr_form" value="send request">
		</form>
		
		<br>
		<!--display a message (error, success msg) if there was one provided-->
		{{ msg }}

	</body>
</html>
